<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('./head',{title:'Login'})%>
  </head>
  <body>
    <header><%- include('./header'); %></header>
    <p>Login</p>
    <form>
      <label>E-Mail Address</label><input type="email" /> <br />
      <label>Password</label><input type="password" /><br />
      <input type="button" value="Login" /><br />
    </form>
  </body>
</html>
