<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <p>Login</p>
    <form action="submit" class="col-sm-6">
      <label>E-Mail Address</label><input type="email" /> <br />
      <label>Password</label><input type="password" /><br />
      <input class="button" type="button" value="Login" /><br />
      <a href="./register">会員登録はこちら</a>
    </form>
  </body>
</html>
